In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("Online Retail.xlsx")
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

In [32]:
print(df.columns)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [33]:
newdf=df.iloc[536544,0:4]
print(newdf)

InvoiceNo                         581219
StockCode                          21947
Description    SET OF 6 HEART CHOPSTICKS
Quantity                               1
Name: 536544, dtype: object

In [34]:
price=df["UnitPrice"]
print("Minimum of the column Unit Price -",price.min())
print("Maximum of the column Unit Price - ",price.max())
print("Median of the column Unit Price - ",price.median())
print("Count of the column Unit Price - ",price.count())
print("Sum of the column Unit Price - ",price.sum())
print("Standard Deviation of the column Unit Price - ",price.std())
print("Variance of the column Unit Price - ",price.var())

Minimum of the column Unit Price - -11062.06
Maximum of the column Unit Price -  38970.0
Median of the column Unit Price -  2.08
Count of the column Unit Price -  541909
Sum of the column Unit Price -  2498803.974
Standard Deviation of the column Unit Price -  96.75985306119716
Variance of the column Unit Price -  9362.469164424467

In [43]:
df1=pd.read_excel("Online Retail.xlsx",skiprows=[i for i in range(1,101)])
df1=df1.sort_values(by="InvoiceDate")
print(df1.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536378    84519A      TOMATO CHARLIE+LOLA COASTER SET         6
1    536378    85183B  CHARLIE & LOLA WASTEPAPER BIN FLORA        48
2    536378    85071B   RED CHARLIE+LOLA PERSONAL DOORSIGN        96
3    536378     21931               JUMBO STORAGE BAG SUKI        10
4    536378     21929       JUMBO BAG PINK VINTAGE PAISLEY        10

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 09:37:00       2.95     14688.0  United Kingdom
1 2010-12-01 09:37:00       1.25     14688.0  United Kingdom
2 2010-12-01 09:37:00       0.38     14688.0  United Kingdom
3 2010-12-01 09:37:00       1.95     14688.0  United Kingdom
4 2010-12-01 09:37:00       1.95     14688.0  United Kingdom

In [44]:
df1=df1["Description"]
print(df1.loc[df1.str.startswith('d',na=False)])

13164                                 damages
50949                                 damages
105619                                damages
114328                                damages
114435                       dotcom sold sets
115705                        damages/display
115708                                damages
115710                          damaged stock
117796                                damages
136171                               damages?
146499                                damages
150250                                damages
154556                                damaged
154699                                damaged
160441    did  a credit  and did not tick ret
166166                                damages
166386                                damages
166736                                damaged
170384                                damaged
170437                                damages
173310                   damages/showroom etc
174554             damages/credits from ASOS.
180518                                damaged
189199                                damaged
192191                                damages
192193                        damages/dotcom?
192195                                damages
200252                                damaged
200462                                damages
200463                                damages
                         ...
424208                                damages
429085                                damages
431699                           dotcom sales
436531                                damaged
445007                                damages
445027                            damages wax
445028                            damages wax
446452                                damaged
465597                                damages
467718                                damages
467719                                damages
472122                                damaged
474547                                damaged
476766                            dotcomstock
485493                          dotcom adjust
485494                                 dotcom
489143                                damaged
492098                                damaged
492559                                 dotcom
497716                                damages
497717                                damages
497718                                damages
500045                                damaged
514881                                damaged
522058                                damages
522059                                damages
524372                                 dotcom
524374                                 dotcom
535224                               damages?
535228                                damages
Name: Description, Length: 111, dtype: object

In [54]:
#lists of lists
student=[['student name','date of birth','marks in maths'],
         ['Raghav Verma','03/09/2000',100],
        ['Raja Modi','02/08/2000',98],
        ['Krishna Murti','21/07/1999',70],
        ['Priyanshu Prasad','10/07/2000',80],
        ['Manav Gakhar','15/06/2000',95]]
headers=student.pop(0)
studentdf=pd.DataFrame(student,columns=headers)
print(studentdf)
print(studentdf['marks in maths'].tolist())

       student name date of birth  marks in maths
0      Raghav Verma    03/09/2000             100
1         Raja Modi    02/08/2000              98
2     Krishna Murti    21/07/1999              70
3  Priyanshu Prasad    10/07/2000              80
4      Manav Gakhar    15/06/2000              95
[100, 98, 70, 80, 95]

In [57]:
#dict of narray/lists
student1={'student name':['Raghav Verma', 'Raja Modi', 'Krishna Murti', 'Priyanshu Prasad', 'Manav Gakhar'],
          'date of birth':['03/09/2000', '02/08/2000', '21/07/1999', '10/07/2000', '15/06/2000'],
          'marks in maths':[100, 98, 70, 80, 95]}
studentdf1=pd.DataFrame(student1)
print(studentdf1)

       student name date of birth  marks in maths
0      Raghav Verma    03/09/2000             100
1         Raja Modi    02/08/2000              98
2     Krishna Murti    21/07/1999              70
3  Priyanshu Prasad    10/07/2000              80
4      Manav Gakhar    15/06/2000              95

In [59]:
#list of dicts
student2=[{'student name': 'Raghav Verma', 'date of birth': '03/09/2000', 'marks in maths': 100},
          {'student name': 'Raja Modi', 'date of birth': '02/08/2000', 'marks in maths': 98}, 
          {'student name': 'Krishna Murti', 'date of birth': '21/07/1999', 'marks in maths': 70},
          {'student name': 'Priyanshu Prasad', 'date of birth': '10/07/2000', 'marks in maths': 80},
          {'student name': 'Manav Gakhar', 'date of birth': '15/06/2000', 'marks in maths': 95}]
studentdf2=pd.DataFrame(student2)
print(studentdf2)

  date of birth  marks in maths      student name
0    03/09/2000             100      Raghav Verma
1    02/08/2000              98         Raja Modi
2    21/07/1999              70     Krishna Murti
3    10/07/2000              80  Priyanshu Prasad
4    15/06/2000              95      Manav Gakhar

In [62]:
student3={'student name': pd.Series(['Raghav Verma', 'Raja Modi', 'Krishna Murti', 'Priyanshu Prasad', 'Manav Gakhar']),
         'date of birth': pd.Series(['03/09/2000', '02/08/2000', '21/07/1999', '10/07/2000', '15/06/2000']),
         'marks in maths': pd.Series([100, 98, 70, 80, 95])}
studentdf3=pd.DataFrame(student3)
print(studentdf3)

       student name date of birth  marks in maths
0      Raghav Verma    03/09/2000             100
1         Raja Modi    02/08/2000              98
2     Krishna Murti    21/07/1999              70
3  Priyanshu Prasad    10/07/2000              80
4      Manav Gakhar    15/06/2000              95

In [67]:
#empty dataframe
studentdf4=pd.DataFrame(columns=['student name','date of birth','marks in maths'])
print(studentdf4)

Empty DataFrame
Columns: [student name, date of birth, marks in maths]
Index: []

In [72]:
studentdf4=studentdf4.append({'student name' :'Raghav Verma', 
                             'date of birth': '03/09/2000', 'marks in maths': 100},ignore_index=True)
print(studentdf4)

   student name date of birth marks in maths
0  Raghav Verma    03/09/2000            100

In [74]:
studentdf4=studentdf4.append({'student name': 'Raja Modi', 'date of birth': '02/08/2000', 'marks in maths': 98},ignore_index=True)
print(studentdf4)

   student name date of birth marks in maths
0  Raghav Verma    03/09/2000            100
1     Raja Modi    02/08/2000             98

In [76]:
studentdf4=studentdf4.append({'student name': 'Krishna Murti', 'date of birth': '21/07/1999', 'marks in maths': 70}
                            ,ignore_index=True)
print(studentdf4)

    student name date of birth marks in maths
0   Raghav Verma    03/09/2000            100
1      Raja Modi    02/08/2000             98
2  Krishna Murti    21/07/1999             70

In [77]:
studentdf4=studentdf4.append({'student name': 'Priyanshu Prasad', 'date of birth': '10/07/2000', 'marks in maths': 80}
                            ,ignore_index=True)
print(studentdf4)

       student name date of birth marks in maths
0      Raghav Verma    03/09/2000            100
1         Raja Modi    02/08/2000             98
2     Krishna Murti    21/07/1999             70
3  Priyanshu Prasad    10/07/2000             80

In [78]:
studentdf4=studentdf4.append({'student name': 'Manav Gakhar', 'date of birth': '15/06/2000', 'marks in maths': 95}
                            ,ignore_index=True)
print(studentdf4)

       student name date of birth marks in maths
0      Raghav Verma    03/09/2000            100
1         Raja Modi    02/08/2000             98
2     Krishna Murti    21/07/1999             70
3  Priyanshu Prasad    10/07/2000             80
4      Manav Gakhar    15/06/2000             95

In [88]:
import numpy as np
number1=pd.Series(np.random.randn(100))
number2=pd.(np.random.randn(100))
add=number1+number2
sub=number1-number2
mult=number1*number2
div=number1/number2
print(pd.DataFrame({'number 1':num})

           0
0  -0.135104
1  -0.788588
2   0.317815
3   0.241347
4   0.192083
5   0.089751
6  -0.577923
7  -0.605850
8  -0.433238
9  -0.084826
10  0.178204
11 -1.082810
12  2.718367
13 -0.144473
14 -0.005944
15 -1.015374
16  0.550210
17  0.820641
18 -0.011493
19 -0.139900
20  0.000207
21 -0.543990
22 -0.006679
23  3.948041
24 -2.573925
25 -1.102307
26  1.709697
27  0.005604
28  0.188505
29  1.341820
..       ...
70 -0.800107
71 -0.349229
72 -0.074107
73  0.005480
74 -0.282302
75 -0.353967
76 -0.239482
77 -0.474866
78 -0.210074
79  0.363063
80 -0.112126
81 -0.114630
82  0.596698
83  0.051557
84  0.301111
85 -1.532934
86  0.441485
87 -1.013579
88  0.180450
89  1.039697
90 -0.005099
91  0.041660
92  0.101256
93  0.205328
94 -0.464575
95 -0.072346
96 -0.661680
97 -0.190753
98  0.397205
99 -0.121431

[100 rows x 1 columns]

In [79]:
!git add E18CSE140_DL_Lab2.ipynb
!git commit -m "Fourth edit"
!git push

warning: LF will be replaced by CRLF in E18CSE140_DL_Lab2.ipynb.
The file will have its original line endings in your working directory

[master 94eb5ad] Fourth edit
 1 file changed, 125 insertions(+), 13 deletions(-)

To https://github.com/raghavverma651/DL-Labs.git
   885f15d..94eb5ad  master -> master